.App {
  text-align: center;
}

.card {
  background-color: #e5e5a4;
  width: 450px;
  min-height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(65, 156, 186);
}
.number {
  padding-top: 2.5rem;
}
.person {
  align-items: center;
  justify-content: center;
}
.person img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}
.details h4 {
  margin-bottom: 0.35rem;
  padding-top: 0;
}
button {
  background-color: rgb(65, 156, 186);
  color: #eceef0;
  border: none;
  outline: none;
  border-radius: 2px;
  padding-block: 5px;
  width: 270px;

  cursor: pointer;
}
.flex {
  display: flex;
}
